// colors
$action-color: #1d90e6;
$action-color-light: #20a0ff;
$bg-color-very-light: #fafafa;
$bg-color-light: #f3f3f3;
$border-color-panel: #EAEEFB;

// measurements
$main-nav-height: 54px;
$aside-width: 280px;
