/* Web fonts */
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

// links
a {
  color: $action-color;

  @include activated {
    color: darken($action-color, 10%);
  }
}

// headers
h2,
h3 {
  margin-top: 1em;
}
