.nav {
  &--main {
    @include clearfix;
    @include outer-container;

    padding: 1em 0;

    .nav__page-links {
      float: right;
    }

    .nav__home-link {
      float: left;
      font-size: 2em;
    }
  }
}
