.container {
  @include outer-container;

  &--main {
    @include outer-container(100%);
    overflow: auto;
  }

  &--set-width {
    width: $max-width;
  }

  &--flex {
    width: $max-width;
    display: flex;
  }
}
