.nav {
  &--main {
    @include clearfix;
    padding: 1em;

    .nav__page-links {
      float: right;
      cursor: pointer;
    }

    .nav__home-link {
      float: left;
      font-size: 2em;
    }
  }
}
