.pagination {
  width: 500px;
  margin: 3em auto;

  span a {
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 0.4em 0.8em;
    margin: 0 0.4em;
    box-shadow: 0px 1px 1px #eee;
  }
}
