.company {
  padding: 1em;
  display: flex;
  flex-direction: column;

  &:not(:last-of-type) {
    border-bottom: 1px solid $border-color-panel;
  }

  .company__name {
    margin-top: 0;

    .company__name-main {
      display: inline-block;
      padding-right: 0.5em;
      font-size: 1.2em;
    }
  }

  .company__name-jp {
    font-size: 0.8em;
    color: $font-color-secondary;
  }

  .company__info {
    display: flex;

    li {
      line-height: 2em;
    }
  }

  .company__main-image {
    flex-shrink: 0;
    img {
      max-width: 220px;
    }
  }

  .company__attr-list {
    flex-grow: 1;
  }

  .company__external-links {
    margin-top: 1em;
    display: flex;
    align-content: stretch;

    li {
      flex-grow: 1;
      text-align: center;

      &:not(:last-of-type) {
        border-right: 1px solid $border-color-panel;
      }

      a {
        display: block;
        padding: 1em;
        @include activated {
          background: $border-color-panel;
        }
      }
    }
  }
}
