.company {
  padding: 1em;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $border-color-panel;

  .company__name {
    margin-top: 0;
  }

  .company__info {
    display: flex;

    li {
      line-height: 2em;
    }
  }

  .company__main-image {
    flex-shrink: 0;
    img {
      max-width: 220px;
    }
  }

  .company__attr-list {
    flex-grow: 1;
  }
}
